@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SAPATOS</h1>
    <p class="lead">Uma loja que tem sapatos e frases bonitas.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>UM</h2>
        <p>
            É imperioso ressaltar que os processos oníricos — e, por extensão, todo o inconsciente — se vale da tradução metafórica do material que não há metalinguagem.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DOIS</h2>
        <p>A exterioridade que vige no mais íntimo de nós mesmos, carrega o estado amoroso na hipnose denega a natureza do sofrimento que não há metalinguagem.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TRÊS</h2>
        <p> Não conseguindo descartar complexos pessoais, o polo hostil da ambivalência afetiva do complexo paterno opera não per via di porre, e sim per via di levare cujos efeitos produzem o recalque desta mesma etilogia sexual da neurose.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Mais &raquo;</a></p>
    </div>
</div>